@import "../../styles/mixins.scss";

.projects {
  width: 100%;
  margin: 16rem 0;

  h2 {
    margin-bottom: 40px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }
}
