@import "./styles/mixins.scss";

:root {
  --primary-rose: #2585e0;
  --primary-blue: #04090f;
  --second-blue: #08131f;
  --primary-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  color: var(--primary-white);
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-blue);
}

h2 {
  font-size: 3.2rem;

  @include respond(tab-port) {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;

  @include respond(tab-port) {
    font-size: 1.6rem;
  }
}

p {
  font-size: 1.4rem;
  font-weight: 300;

  @include respond(tab-port) {
    font-size: 1.4rem;
  }
}

h1,
h2 {
  font-weight: 600;
}

a {
  font-weight: 500;
  cursor: pointer;
}

.layout-grid {
  padding: 0 8%;
}

.btn {
  background-color: var(--primary-rose);
  padding: 1.2rem 3.2rem;
  color: var(--primary-white);
  border: 1px solid transparent;
  font-size: 1.6rem;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 4px;

  &:hover {
    color: var(--primary-rose);
    border-color: var(--primary-rose);
    background: transparent;
  }

  @include respond(tab-port) {
    width: 100%;
  }
}
